<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <%= form_with model:@customer, local:true do |f| %>
      <div>
        <label for="inputName">Name</label>
        <p><%= f.text_field :name, autofocus: true, id:"inputName" %></p>
      </div>
      <div>
        <label for="inputintroduction">Introduction</label>
        <p><%= f.text_area :introduction, autofocus: true, id:"inputintroduction" %></p>
      </div>
      <div>
      <label for="inputImage">Image</label>
        <p><%= f.attachment_field :profile_image, placeholder: "プロフィール画像" %></p>
      </div>
      <div class="mb-3">
         <input type="submit" name="commit" value="Update User" class="btn btn-secondary" data-disable-with="Update User">
      <% end %>
      </div>
    </div>
  </div>
</div>