<% if @model == 'customer' %>
  <h4>ユーザー検索結果 "<%= @content %>"</h4>
  <%= render 'admin/customers/index', customers: @records %>
<% else @model == 'tweets' %>
  <h4>投稿検索結果"<%= @content %>"</h4>
    <%= render 'admin/tweets/index', tweets: @records %>
<% end %>